@import url("./index.css");

.container{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--dark-info-color);
    position: relative;
}

/* Hero Section Styles */
.hero {
    background-color: #d32f2f; /* Red background color */
    padding: 20px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin: 0;
    padding: 5px 0;
  }